api_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ApiService" targetNamespace="urn:ApiService" name="ApiService">

    <wsdl:message name="authenticateRequest">
        <wsdl:part name="uid" type="xsd:string"/>
        <wsdl:part name="psswd" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="authenticateResponse">
        <wsdl:part name="status" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="CreateRequest">
        <wsdl:part name="uid" type="xsd:string"/>
        <wsdl:part name="cn" type="xsd:string"/>
        <wsdl:part name="sn" type="xsd:string"/>
        <wsdl:part name="mail" type="xsd:string"/>
        <wsdl:part name="psswd" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="CreateResponse">
        <wsdl:part name="status" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="ReadRequest">
        <wsdl:part name="uid" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="ReadResponse">
        <wsdl:part name="status" type="xsd:string"/>
        <wsdl:part name="userAttributes" element="tns:ArrayOfStrings"/>
    </wsdl:message>

    <wsdl:types>
        <xsd:schema targetNamespace="urn:ApiService">
            <xsd:complexType name="ArrayOfStrings">
                <xsd:sequence>
                    <xsd:element name="attribute" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="UpdateRequest">
        <wsdl:part name="uid" type="xsd:string"/>
        <wsdl:part name="psswd" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="UpdateResponse">
        <wsdl:part name="status" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="DeleteRequest">
        <wsdl:part name="uid" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="DeleteResponse">
        <wsdl:part name="status" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:portType name="CrudPortType">
        <wsdl:operation name="authenticate">
            <wsdl:input message="tns:authenticateRequest"/>
            <wsdl:output message="tns:authenticateResponse"/>
        </wsdl:operation>

        <wsdl:operation name="createEntry">
            <wsdl:input message="tns:CreateRequest"/>
            <wsdl:output message="tns:CreateResponse"/>
        </wsdl:operation>

        <wsdl:operation name="readEntry">
            <wsdl:input message="tns:ReadRequest"/>
            <wsdl:output message="tns:ReadResponse"/>
        </wsdl:operation>

        <wsdl:operation name="updatePassword">
            <wsdl:input message="tns:UpdateRequest"/>
            <wsdl:output message="tns:UpdateResponse"/>
        </wsdl:operation>

        <wsdl:operation name="deleteEntry">
            <wsdl:input message="tns:DeleteRequest"/>
            <wsdl:output message="tns:DeleteResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CrudBinding" type="tns:CrudPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:ApiService#authenticate"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="createEntry">
            <soap:operation soapAction="urn:ApiService#createEntry"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="readEntry">
            <soap:operation soapAction="urn:ApiService#readEntry"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="updatePassword">
            <soap:operation soapAction="urn:ApiService#updatePassword"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="deleteEntry">
            <soap:operation soapAction="urn:ApiService#deleteEntry"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:ApiService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ApiService">
        <wsdl:port name="CrudPort" binding="tns:CrudBinding">
            <soap:address location="http://localhost/apildap/SoapServer.php"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
